body {
    background-image: url("/assets/jungle.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    width: 500px;
    display: flex;

}